:root {
    --screen:  "Unknown";
    --primary-color:  white;
    --secondary-color: yellow;
    --tertiary-color:  cyan;
    --primary-background-color: darkblue;
    --secondary-background-color:  darkorange;
    --accent-color:  red;
    --header-color:  var(--primary-background-color);
    --header-background-color: var(--primary-color);
    font-family: "Eagle Lake", serif, Arial, Helvetica, sans-serif;
}
.body {
    border: .25rem;
    padding: .25rem;
    color: var(--primary-color);
    background-color: var(--primary-background-color);
}
.header {
    border: .25rem;
    padding: .25rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    color: var(--header-color);
    background-color: var(--header-background-color);
}
.header-menu-anchor {
    border: .25rem;
    padding: .25rem;
    color: var(--header-color);
    text-decoration: none;
}
.header-menu-anchor:visited {
    color: var(--header-color);
}
.header-menu-anchor::before {
    border: .25rem;
    padding: .25rem;
    color: var(--header-color);
}
.header-menu-anchor.show::before {
    border: .25rem;
    padding: .25rem;
    color: var(--header-color);
}
.header-menu-title {
    border: .25rem;
    padding: .25rem;
}
.header-menu-navigation {
    border: .25rem;
    padding: .25rem;
}
.header-menu-navigation-list {
    border: .25rem;
    padding: .25rem;
}
.header-menu-navigation-list li {
    border: .25rem;
    padding: .25rem;
}
.header-menu-navigation-list.show li {
    border: .25rem;
    padding: .25rem;
}
.header-menu-item {
    border: .25rem;
    padding: .25rem;
}
.header-menu-item:hover {
    border: 1rem;
    padding: 1rem;
    font-size: 2rem;
}
.active {
    border: .25rem;
    padding: .25rem;
}
.active::before {
    border: .25rem;
    padding: .25rem;
	content: "📍";
}
.header-menu-item-anchor {
    border: .25rem;
    padding: .25rem;
    color: var(--header-color);
    text-decoration: none;
}
.header-menu-item-anchor:visited {
    color: var(--header-color);
}
.header-menu-item-anchor:hover {
    color: var(--secondary-background-color);
}
.header-menu-item-anchor:visited:hover {
    color: var(--secondary-background-color);
}
.home-menu-item {
    font-family: inherit;
}
.home-menu-item-anchor {
    font-family: inherit;
}
.bishop-menu-item {
    font-family: inherit;
}
.bishop-menu-item-anchor {
    font-family: inherit;
}
.counselor-menu-item {
    font-family: inherit;
}
.counselor-menu-item-anchor {
    font-family: inherit;
}
.secretary-menu-item {
    font-family: inherit;
}
.secretary-menu-item-anchor {
    font-family: inherit;
}
.clerk-menu-item {
    font-family: inherit;
}
.clerk-menu-item-anchor {
    font-family: inherit;
}
.clerk-membership-menu-item {
    font-family: inherit;
}
.clerk-membership-menu-item-anchor {
    font-family: inherit;
}
.clerk-finance-menu-item {
    font-family: inherit;
}
.clerk-finance-menu-item-anchor {
    font-family: inherit;
}
.signIn-menu-item {
    font-family: inherit;
}
.signIn-menu-item-anchor {
    font-family: inherit;
}
.main {
    text-align: center;
}
.main-title {
    font-size: 3rem;
}
.contentContainer {
    margin: 1rem;
    padding: 1rem;
}
.signInForm {
    border: 1px solid var(--primary-color);
    display: block;
    border-radius: .5rem;
    padding: 1rem;
    text-align: left;
}
.signInForm label {
    display: none;
    width: 100%;
    max-width: 40rem;
    margin-bottom: 1rem;
}
.signInForm label.show {
    display: block;
}
.signInLabel {
    width: 100%;
    padding: .5rem;
    margin-left: 1rem;
}
.loginButton {
    padding: .5rem;
    width: 100%;
    max-width: 40rem;
}
.footer {
    color: var(--header-color);
    background-color: var(--header-background-color);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    text-align: center;
}
.currentyear {
    font-family: inherit;
}
.lastModified {
    font-family: inherit;
}