:root {
    --screen:  "Unknown";
    font-family: "Eagle Lake", serif, Arial, Helvetica, sans-serif;
}
.body {
    border: .25rem;
    padding: .25rem;
}
.header {
    border: .25rem;
    padding: .25rem;
}
.header-menu-anchor {
    border: .25rem;
    padding: .25rem;
    text-decoration: none;
}
.header-menu-anchor::before {
    border: .25rem;
    padding: .25rem;
}
.header-menu-anchor.show::before {
    border: .25rem;
    padding: .25rem;
}
.header-menu-title {
    border: .25rem;
    padding: .25rem;
}
.header-menu-navigation {
    border: .25rem;
    padding: .25rem;
}
.header-menu-navigation-list {
    border: .25rem;
    padding: .25rem;
}
.header-menu-navigation-list li {
    border: .25rem;
    padding: .25rem;
}
.header-menu-navigation-list.show li {
    border: .25rem;
    padding: .25rem;
}
.header-menu-item {
    border: .25rem;
    padding: .25rem;
}
.active {
    border: .25rem;
    padding: .25rem;
}
.active::before {
    border: .25rem;
    padding: .25rem;
	content: "📍";
}
.header-menu-item-anchor {
    border: .25rem;
    padding: .25rem;
    text-decoration: none;
}
.home-menu-item {
    font-family: inherit;
}
.home-menu-item-anchor {
    font-family: inherit;
}
.bishop-menu-item {
    font-family: inherit;
}
.bishop-menu-item-anchor {
    font-family: inherit;
}
.counselor-menu-item {
    font-family: inherit;
}
.counselor-menu-item-anchor {
    font-family: inherit;
}
.secretary-menu-item {
    font-family: inherit;
}
.secretary-menu-item-anchor {
    font-family: inherit;
}
.clerk-menu-item {
    font-family: inherit;
}
.clerk-menu-item-anchor {
    font-family: inherit;
}
.clerk-membership-menu-item {
    font-family: inherit;
}
.clerk-membership-menu-item-anchor {
    font-family: inherit;
}
.clerk-finance-menu-item {
    font-family: inherit;
}
.clerk-finance-menu-item-anchor {
    font-family: inherit;
}
.signIn-menu-item {
    font-family: inherit;
}
.signIn-menu-item-anchor {
    font-family: inherit;
}
.main {
    text-align: center;
}
.main-title {
    font-size: 3rem;
}
.footer {
    text-align: center;
}
.currentyear {
    font-family: inherit;
}
.lastModified {
    font-family: inherit;
}